---
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout>
	<main
		class='w-full h-full flex flex-col place-content-center place-items-center'
	>
		<h2
			class='w-[55vw] font-bebas-neue text-[3.35vw] text-foreground text-center tracking-[-3%] leading-[100%] -translate-y-[50%]'
		>
			<span
				class='inline-flex flex-col place-items-center text-wrap after:w-full after:h-[0.15vw] after:bg-accent after:-translate-y-[0.25vw] after:shadow-[0_0_1vw_0.05vw_var(--accent)]'
				>Couldn't find what you're looking for :(</span
			>
		</h2>
		<a
			href='/'
			class='p-[0.5vw_1vw_0.15vw_1vw] font-bebas-neue text-[3.35vw] text-background text-center tracking-[-3%] leading-[100%] bg-foreground rounded-[0.35vw] hover:scale-[1.1] transition-transform duration-150 will-change-auto'
			>Go Home</a
		>
	</main>
</MainLayout>
