---
import MainLayout from '@/layouts/main-layout.astro';
import Display from '@/components/display';
import Team from '@/components/team';
import SideButtons from '@/components/side-buttons';
import PokemonSearch from '@/components/pokemon-search';

const pokemon = (
	await Promise.all(
		(
			await (
				await fetch(
					`${import.meta.env.PUBLIC_POKEAPI}/pokemon?offset=0&limit=1000000`
				)
			).json()
		).results.map(async ({ url }: { url: string }) => {
			const mon = await (await fetch(url)).json();
			return {
				id: mon.id,
				name: mon.name,
				sprite: mon.sprites.front_default,
				types: mon.types.map(
					({ type }: { type: { name: string } }) => type.name
				),
			};
		})
	)
).filter(({ sprite }: { sprite: string }) => sprite !== null);
---

<MainLayout>
	<main
		class='w-full h-full pt-[25%] flex flex-col place-content-between place-items-center'
	>
		<Display client:load />
		<Team client:load />
		<SideButtons client:load />
		<PokemonSearch pokemon={pokemon} client:load />
	</main>
</MainLayout>
