---
import MainLayout from '@/layouts/main-layout.astro';
import Team from '@/components/team';
import SideButtons from '@/components/side-buttons';
import PokemonSearch from '@/components/pokemon-search';

const pokemon = (
	await Promise.all(
		(
			await (
				await fetch(
					`${import.meta.env.PUBLIC_POKEAPI}/pokemon?offset=0&limit=1000000`
				)
			).json()
		).results.map(async ({ url }: { url: string }) => {
			const mon = await (await fetch(url)).json();
			return {
				id: mon.id,
				name: mon.name,
				sprite: mon.sprites.front_default,
				types: mon.types.map(
					({ type }: { type: { name: string } }) => type.name
				),
			};
		})
	)
).filter(({ sprite }: { sprite: string }) => sprite !== null);
---

<MainLayout>
	<main
		class='w-full h-full pt-[25%] flex flex-col place-content-between place-items-center'
	>
		<h2
			class='w-[50vw] font-bebas-neue text-[3.35vw] text-foreground text-center tracking-[-3%] leading-[100%] -translate-y-[50%]'
		>
			“Select <span
				class='inline-flex flex-col place-items-center after:w-[9.75vw] after:h-[0.15vw] after:bg-accent after:-translate-y-[0.25vw] after:shadow-[0_0_1vw_0.05vw_var(--accent)]'
				>Pokémon</span
			> to add to your party. Any slots left empty will be filled in to create a
			strategic team.”
		</h2>
		<Team client:load />
		<SideButtons client:load />
		<PokemonSearch pokemon={pokemon} client:load />
	</main>
</MainLayout>
