<button
	class={`team-slot w-[5.2vw] aspect-square pb-[0.5vw] relative border-b-[0.1vw] border-foreground hover:border-secondary-accent transition-colors duration-150 will-change-auto`}
>
	<svg
		viewBox='0 0 38 38'
		fill='none'
		class='w-[1.75vw] my-[1.6vw] absolute left-1/2 bottom-0 -translate-x-1/2 stroke-foreground'
	>
		<path
			d='M19.0269 2V35.6538M2.20001 18.8269H35.8539'
			stroke='inherit'
			stroke-opacity='0.5'
			stroke-width='3'
			stroke-linecap='round'
			stroke-linejoin='round'></path>
	</svg>
	<img src='' alt='' class='w-full relative' />
</button>
