---
import { Image } from 'astro:assets';
import Lugia from '@/assets/images/lugia.gif';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Pokémon Battle Forge</title>
	</head>
	<body
		class='w-screen h-screen p-[3.125vw_6.25vw] relative bg-background overflow-hidden'
	>
		<header class='h-fit m-[3.125vw_6.25vw] absolute inset-0'>
			<Image
				src={Lugia}
				alt=''
				loading='eager'
				class='w-auto h-[3.35vw] relative float-right z-[100]'
			/>
		</header>
		<slot />
	</body>
	<style is:global>
		:root {
			--background: #000000;
			--foreground: #ffffff;
			--accent: #ff4040;
			--secondary-accent: #00c2ff;
		}

		::-webkit-scrollbar {
			width: 0;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type='number'] {
			-moz-appearance: textfield;
		}

		@font-face {
			font-family: 'Bebas Neue';
			src: url('/fonts/BebasNeue.ttf') format('truetype');
		}
	</style>
</html>
