<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Pokémon Battle Forge</title>
	</head>
	<body>
		<slot />
	</body>
	<style is:global>
		:root {
			--background: #000000;
			--foreground: #ffffff;
			--accent: #ff4040;
		}

		@font-face {
			font-family: 'Bebas Neue';
			src: url('/fonts/BebasNeue.ttf') format('truetype');
		}
	</style>
</html>
